#controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  border-radius: 8px;
  background: #f6f6fe;
  max-width: 486px;
  margin-bottom: 16px;
}
input {
  border-radius: 8px;
  border: 1px solid #808080;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  width: 150px;
  text-align: center;
}
button {
  border-radius: 8px;
  border: none;
  width: 120px;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 8px 16px;
  background: #4e75ff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:last-child {
  background: #ff4e4e;
}

button:hover {
  background: #6c8cff;
}

button:hover:last-child {
  background: #ff7070;
}

#boxes {
  background: #f6f6fe;
  margin-left: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}