.gallery {
  display: flex;
  flex-direction: row;
  gap: 24px 48px;
  align-items: center;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

li {
  width: calc((100% - 48px) / 3);
}